<h1>Harry Potter - Characters</h1>

@if (characters().length > 0) {
  <p>Total : <strong>{{ characters().length }} characters</strong></p>
} @else {
  <p>No characters found</p>
}

@for (character of characters(); track character.id) {
  <h1>{{ character.house }}</h1>
} @empty {
  <p>No characters found in the list.</p>
}

---------

<!-- Old version -->
<div *ngIf="characters().length > 0; else noCharacters">
  <p>Total : <strong>{{ characters().length }} characters</strong></p>
</div>

<ng-template #noCharacters>
  <p>No characters found</p>
</ng-template>

<div>
  <h1 *ngFor="let character of characters(); trackBy: trackById"> {{ character.house }}</h1>
</div>